@import "~flexboxgrid-sass/flexboxgrid";

.redBg {
    background-color: red;
 }

.full-monty {
    height: 100%;
    width: 100%;
}

.u-margin-left-right-10 {
    margin: 0px 10px 0px 10px;
}

.u-margin-bottom-5 {
    margin-bottom: 5px;
}